body {
    color: chocolate;
    text-align: center;
    font-family: 'Gill Sans';
    font-style: italic;
    margin: 0%;
    padding: 0%;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0;
}
#container h1
{
    font-size: 30px;
}